*{
  padding:0;margin:0;
}
.banner_met_21_4-ny {
  height: 120px;
}
.banner_met_21_4 {
  width: 100%;
  height: auto;
  display: table;
}
.page-bg,.bg-pagebg1 {
  background: #f2f2f2;
}
.banner_met_21_4 .slick-slide {
  height: auto;
  position: relative;
  overflow: hidden;
  display: block;
}
.banner_met_21_4 .slick-slide a {
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
}
.subcolumn_nav_met_21_1 {
  text-align: center;
  max-width: 100%;
}
@media (min-width: 768px){ .container {
  width: 750px;
}}
@media (min-width: 992px){ .container {
  width: 970px;
}}
@media (min-width: 1200px) {.container {
  width: 1170px;
}}
.container {
  margin-right: auto ;
  margin-left: auto ;
  padding-right: .9375rem ;
  padding-left: .9375rem ;
}
@media (min-width: 1200px){ .row {
  margin-right: -.9375rem;
  margin-left: -.9375rem;
}}
@media (min-width: 992px){ .row {
  margin-right: -.9375rem;
  margin-left: -.9375rem;
}}

@media (min-width: 768px){ .row {
  margin-right: -.9375rem;
  margin-left: -.9375rem;
}}
.subcolumn_nav_met_21_1 .subcolumn-nav {
  float: left;
}
.text-xs-left {
  text-align: left ;
  width:50%;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul {
  list-style: none;
  padding: 10px 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: left;
}
.ulstyle {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li {
  white-space: nowrap;
  display: inline-block;
  float: none;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link.active {
  color: #ffffff;
  background-color: #0c8ccc;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link {
  position: relative;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link {
  text-decoration: none;
  display: block;
  margin: 0 5px;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  height: 30px;
  color: #2b2b2b;
  -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
  transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
}
subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link.active:before {
  background: #ffffff;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link:before {
  content: '';
  display: block;
  width: 6px;
  height: 1px;
  background: #0c8ccc;
  position: absolute;
  left: 10px;
  top: 50%;
  transition: ease .65s;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #0c8ccc;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transition: ease .65s;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location {
  float:right;
  font-size: 12px;
  padding: 10px 0;
  width:50%;
  padding-left:25%;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location .location {
  color: #2b2b2b;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location li {
  line-height: 30px;
  float: left;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location a {
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #2b2b2b;
  -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
  transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location .fa {
  padding: 0 10px;
  color: #2b2b2b;
}
[class*=' fa-'],[class^=fa-] {
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  position: relative;
  display: inline-block;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-angle-right::before {
  content: ">";
}
.clearfix{
  width:100%;
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
  display: block;
}
.news_list_page_met_21_3 .news-title-bor .container,.news_list_page_met_21_3 .container {
  width: 1141px;
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.row::after {
  display: table;
  clear: both;
  content: '';
}
.container::after {
  display: table;
  clear: both;
  content: '';
}
.show_met_21_3.met-show-body {
  background: #ffffff;
}
.panel-body {
  position: relative;
  padding: 30px 30px;
}
.panel {
  position: relative;
  margin-bottom: 1.875rem;
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: .286rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel>:not(.panel-loading):not(.collapsing) {
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
.panel-body>:last-child {
  margin-bottom: 0;
}
.show_met_21_3 .row {
  margin-right: 0;
  margin-left: 0;
}
.show_met_21_3 .tops {
  box-shadow: 0px -5px 5px 2px rgba(0, 0, 0, .1);
}
.show_met_21_3 .tops {
  margin-top: 0px;
  padding: 50px;
  background: #ffffff;
  overflow: hidden;
  width:120%;
  margin-left:-6.5%
}
@media (min-width: 480px){
  .col-sm-6 {
  float: left;
  width: 50%;
}}
.show_met_21_3 .tops h2 {
  font-size: 24px;
  color: #2b2b2b;
  margin:0px;
}
h1, .h2, .h3, h1, h2, h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.met-editor {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}
.news_list_page_met_21_3 .news-title-con {
  position: relative;
  text-align: center;
  padding-top: 50px;
  background: #ffffff;
  margin-top: 20px;
  box-shadow: 0px -12px 18px 2px rgba(0, 0, 0, .05);
}
.news_list_page_met_21_3 .news-title-con .news-top {
  font-size: 16px;
  color: #0c8ccc;
  font-weight: bold;
}
.news_list_page_met_21_3 .news-title-con .news-desc {
  font-size: 30px;
  margin-bottom: 0;
  color: #2b2b2b;
}
.news_list_page_met_21_3 .news-title-con .news-hr {
  display: inline-block;
  width: 60px;
  height: 4px;
  background: #0c8ccc;
}
.news_list_page_met_21_3 .news-title-con .news-xs {
  font-size: 20px;
  color: #707070;
}
p {
  margin-bottom: 1rem;
}
.news_list_page_met_21_3 .met-news-list {
  background: #ffffff;
}
.news_list_page_met_21_3 .met-news-list {
  background: #fff;
  padding: 30px;
}
.news_list_page_met_21_3 .met-news-list li {
  overflow: hidden;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  -webkit-transition: all .66s cubic-bezier(.17, .84, .44, 1);
  transition: all .66s cubic-bezier(.17, .84, .44, 1);
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 30px 25px;
}
.news_list_page_met_21_3 .news-jdf {
  -webkit-box-shadow: none ;
  box-shadow: none ;
  border: none ;
}
.news_list_page_met_21_3 .news-jdf .news-left {
  margin-top: 25%;
}
.news_list_page_met_21_3 .news-jdf .news-left {
  padding: 25px 0 25px 25px;
  background: #efefef;
}
@media (min-width: 480px){ .col-sm-3 {
  float: left;
  width: 25%;
}}
.news_list_page_met_21_3 .news-jdf .time-day {
  font-size: 36px;
  color: #0c8ccc;
  font-weight: bold;
}
.news_list_page_met_21_3 .met-news-list li p {
  font-size: 16px;
}
.news_list_page_met_21_3 .news-jdf .time-my {
  font-size: 14px;
  color: #707070;
}
.news_list_page_met_21_3 .news-jdf .time-hr {
  display: inline-block;
  width: 70px;
  height: 1px;
  background: #cccccc;
}
.news_list_page_met_21_3 .news-jdf .time-desc {
  font-size: 12px;
  color: #7b7b7b;
}
.news_list_page_met_21_3 .news-jdf .news-right {
  border: 1px solid #efefef;
}
@media (min-width: 480px){ .col-sm-9 {
  float: left;
  width: 75%;
}}
.news_list_page_met_21_3 .met-news-list li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #2b2b2b;
  background: none;
  color: #2b2b2b;
  position: absolute;
  -webkit-transition: all .66s cubic-bezier(.17, .84, .44, 1);
  transition: all .66s cubic-bezier(.17, .84, .44, 1);
}
.news_list_page_met_21_3 .news-jdf .news-right .news-img>img {
  width: 100%;
}
img {
  vertical-align: middle;
}
img {
  border-style: none;
}
.news_list_page_met_21_3 .news-jdf .news-right .news-text {
  padding: 20px 40px;
}
.news_list_page_met_21_3 .news-jdf .news-right .news-text .news-title {
  color: #2b2b2b;
}
.news_list_page_met_21_3 .met-news-list li h4 {
  margin: 0 0 20px;
  font-size: 22px;
}
h4,h5,h6 {
  text-shadow: none;
}
.news_list_page_met_21_3 .news-jdf .news-right .news-text .news-right-hr {
  display: inline-block;
  width: 70px;
  height: 4px;
  background: #0c8ccc;
  margin: 10px 0;
}
.news_list_page_met_21_3 .news-jdf .news-right .news-text .news-desc {
  font-size: 14px;
  color: #707070;
}
.news-jdf .news-right .news-text .news-btn {
  display: inline-block;
  padding: 15px 50px;
  border: 1px solid;
  border-color: #0c8ccc;
  color: #0c8ccc;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.news_list_page_met_21_3 .news-jdf .news-right .news-text .news-btn:hover {
  background: #0c8ccc;
  color: #fff;
}
.met_pager {
  margin-top: 20px;
  text-align: center;
}
.m-t-20 {
  margin-top: 20px ;
}
.news_list_page_met_21_3 .met_pager .PreSpan,.news_list_page_met_21_3 .met_pager .NextSpan {
  padding: 9px 15px;
  color: #707070;
  cursor: default;
}
.news_list_page_met_21_3 .met_pager .PreSpan,.news_list_page_met_21_3 .met_pager .NextSpan {
  border: none;
  background: none;
}
.met_pager .PreSpan,.met_pager .NextSpan {
  padding: 9px 15px;
  border: 1px solid #e4eaec;
  background: #fff;
  color: #ccd5db;
  cursor: default;
}
.met_pager * {
  display: inline-block;
}
.news_list_page_met_21_3 .met_pager a.Ahover {
  border-color: #0c8ccc;
  background: #0c8ccc;
  color: #ffffff;
  cursor: default;
}
.news_list_page_met_21_3 .met_pager a {
  padding: 9px 15px;
  text-align: center;
  color: #2b2b2b;
  border: none;
  background: none;
}
.met_pager a {
  text-decoration: none;
}
.met_pager a.NextA {
  border-right: 1px solid #e4eaec;
}
#d1 li:nth-child(4){
  background:#0c8ccc;
}
#d1 li:nth-child(4) a{
  color:#fff !important;
}