.banner_met_21_4-ny {
  background-color: #fff;
  height: 120px;
}
.vertical-align {
  font-size: 0;
}
.banner_met_21_4-ny h1 {
    margin: 0px;
    padding: 10px 30px;
    font-size: 35px;
    text-shadow: none;
    color: #2b2b2b;
}
.met-editor .editable-click {
box-sizing: inherit;
margin: 0px;
text-align: center;
}
.met-editor span{
 font-family:'微软雅黑',Microsoft YaHei;
 font-size: 14px;
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-bottom, .vertical-align-middle {
    font-size: 1rem;
    display: inline-block;
    max-width: 100%;
}
.subcolumn_nav_met_21_1 {
    text-align: center;
    max-width: 100%;
}
@media (min-width: 1200px){
.row {
    margin-right: -.9375rem;
    margin-left: -.9375rem;
}}
@media (min-width: 992px){
.row {
    margin-right: -.9375rem;
    margin-left: -.9375rem;
}}
@media (min-width: 768px){
.row {
    margin-right: -.9375rem;
    margin-left: -.9375rem;
}}
.row {
    margin-right: -.9375rem;
    margin-left: -.9375rem;
    display: block;
}
.subcolumn_nav_met_21_1 .subcolumn-nav {
    float: left;
}
.text-xs-left {
    text-align: left;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul {
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: left;
}
.p-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li {
    white-space: nowrap;
    display: inline-block;
    float: none;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link.active {
    color: #ffffff;
    background-color: #0c8ccc;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link {
    text-decoration: none;
    display: block;
    margin: 0 5px;
    position: relative;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
    height: 30px;
    color: #2b2b2b;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
    transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link.active:before {
    background: #ffffff;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link:before {
    content: '';
    display: block;
    width: 6px;
    height: 1px;
    background: #0c8ccc;
    position: absolute;
    left: 10px;
    top: 50%;
    transition: ease .65s;
}
.subcolumn_nav_met_21_1 .subcolumn_nav_met_21_1-ul>li a.link:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #0c8ccc;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: ease .65s;
}
.ulstyle {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location .location {
  color: #2b2b2b;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location li {
  line-height: 30px;
  float: left;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location a {
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #2b2b2b;
  -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
  transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location .fa {
  padding: 0 10px;
  color: #2b2b2b;
}
.subcolumn_nav_met_21_1 .subcolumn-nav-location {
  float: right;
  font-size: 12px;
  padding: 10px 0;
  margin-right:-9%;
}
[class*=' fa-'],[class^=fa-] {
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  position: relative;
  display: inline-block;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-angle-right:before {
  content:'>';
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.row::after {
  display: table;
  clear: both;
  content: '';
}
.container::after {
  display: table;
  clear: both;
  content: '';
}
.show_met_21_3.met-show-body {
  background: #ffffff;
}
.panel-body {
  position: relative;
  padding: 30px 30px;
}
.panel {
  position: relative;
  margin-bottom: 1.875rem;
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: .286rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel>:not(.panel-loading):not(.collapsing) {
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
.panel-body>:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px){
.container {
  width: 1170px;
}}
@media (min-width: 992px) {
.container {
  width: 970px;
}}
.show_met_21_3 .row {
  margin-right: 0;
  margin-left: 0;
}
.show_met_21_3 .tops {
  box-shadow: 0px -5px 5px 2px rgba(0, 0, 0, .1);
}
.show_met_21_3 .tops {
  margin-top: 0px;
  padding: 50px;
  background: #ffffff;
  overflow: hidden;
  width:120%;
  margin-left:-6.5%
}
@media (min-width: 480px){
  .col-sm-6 {
  float: left;
  width: 50%;
}}
.show_met_21_3 .tops h2 {
  font-size: 24px;
  color: #2b2b2b;
  margin:0px;
}
h1, .h2, .h3, h1, h2, h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.met-editor {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}